[submodule "Engine/Vendor/glm"]
	path = Engine/Vendor/glm
	url = git@github.com:g-truc/glm.git
[submodule "Engine/Vendor/spdlog"]
	path = Engine/Vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Engine/Vendor/glfw"]
	path = Engine/Vendor/glfw
	url = git@github.com:TheCherno/glfw.git
[submodule "Engine/Vendor/imgui"]
	path = Engine/Vendor/imgui
	url = git@github.com:TheCherno/imgui.git
[submodule "Engine/Vendor/ImGuizmo"]
	path = Engine/Vendor/ImGuizmo
	url = git@github.com:TheCherno/ImGuizmo.git
